.header {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 92px 50px 92px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header__links-list-item {
    position: relative;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    line-height: 21px;
    border-bottom: 1px solid #000;
}

.header__link_active {
    border-bottom: none;
}

.header__links-list-item:not(.header__links-list-item_no-bullit)::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    left: -12px;
    top: 7px;
    border: 0.5px solid #000;
    border-radius: 50%;
}

.header__logo {
    width: 148px;
    display: block;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}

.address a {
    border-bottom: 1px solid #000;
}

.cover {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    min-height: 757px;
    color: #fff;
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    inset: 0;
    background: #000;
    opacity: 0.6;
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    padding: 165px 50px 0;
    font-size: 100px;
    line-height: 115%;
    font-weight: bold;
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 135px 50px 88px;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18px;
}

.bet-button {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    padding: 12px 32px;
    cursor: pointer;
}

.lots {
    width: 1052px;
    margin: 180px auto 0;
}

.lots__heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    flex-grow: 1;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 51px 40px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 2;
}

.card__text {
    font-size: 20px;
    line-height: 120%;
    z-index: 2;
}

.lots__look-more-link {
    font-size: 20px;
    line-height: 23px;
    border-bottom: 1px solid #000;
    margin-left: 40px;
    margin-top: 30px;
    display: inline-block;
}

.about {
    width: 1052px;
    margin: 180px auto 0;
    display: grid;
    grid-template-columns: 334px auto;
    gap: 25px;
}

.about__column:first-child {
    justify-self: center;
    padding-top: 35px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about__text p {
    font-size: 20px;
    line-height: 24px;
}

.about__text p:first-child {
    margin-bottom: 24px;
}

.footer {
    width: 1100px;
    margin: 180px auto 90px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer .address {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}

.footer__menu {
    justify-self: center;
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link {
    font-size: 18px;
    line-height: 21px;
    border-bottom: 1px solid #000;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    justify-self: end;
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}